
/* Media Query for screen 1200 to 1399 */
@media only screen and (max-width:1399px){
    .about_us_imgSub{
        position: absolute;
        top: 0;
        right: 0;
    }
    .about_us .about_us_text .wrapper{
        width: 100%;
        margin: auto;
    }
    .rooms_img{
        margin: 0;
    }
}

/* Media Query for screen 992 to 1199 */
@media only screen and (max-width:1199px){
    .navToggleBtn{
        display: initial;
        width: 40px;
        height: 40px;
        z-index: 1000;
        display: grid;
        place-items: center;
    }
    .navToggleBtn i{
        font-size: 22px;
    }
}

/* Media Query for screen 768 to 991 */
@media only screen and (max-width:991px){
    .mx-5{
        margin: 0 2rem !important;
    }
    .page_slider{
        margin-top: 19%;
    }
    .gallery_images{
        grid-gap: 1.8rem;
    }
}

/* Media Query for screen 575 */
@media only screen and (max-width:575px){
    .page_slider{
        margin-top: 37%;
    }
    .about_us_imgSub{
        position: inherit;
        text-align: center;
    }
    .about_us .about_us_text .wrapper{
        width: 100%;
    }
    .marginSmall-4{
        margin-top: 4rem;
    }
    .enquiry form{
        padding: 0;
        overflow: hidden;
    }
    .enquiry form div{
        flex-direction: column !important;
    }
    .enquiry form div input, .enquiry form textarea{
        width: 100% !important;
        margin: 1.2rem 0;
    }
    .gallery_images{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }
    .footer .title p{
        font-size: 1.1rem;
    }
}